*{
    padding: 0%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    overflow: none;
}
.center-box{
    display:inline-block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25%;
    padding-right: 25%;
    background-color: rgba(255, 235, 205, 0.229);
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(https://thumbs.dreamstime.com/b/portfolio-gold-text-black-background-d-rendered-royalty-free-stock-picture-image-can-be-used-online-website-banner-87920676.jpg);
    background-size:contain;
    background-position:fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: rgba(17, 17, 16, 0.381);
    /* background-image: url(https://thumbs.dreamstime.com/b/portfolio-gold-text-black-background-d-rendered-royalty-free-stock-picture-image-can-be-used-online-website-banner-87920676.jpg); */

}
.logo{
    color: rgb(245, 241, 241);
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: red;
}
nav ul li{
    list-style-type: none;
    display:inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: rgb(250, 252, 252);
    text-decoration:solid;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: red;
    transition: .4s;
}
.btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition:transform .4s;
}


.content{
    position:relative;
    top: 19%;
    left: 35%;
    transform: translateY(-60%);
    align-items: center;

}
h1{
    color: white;
    /* margin: 20px 0px 20px; */
    font-size: 75px;
}
h1:hover{
    color: red;
    transition: .4s;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 25px ;
    font-style: oblique;
}
h4{
    color: #fcfcfc;
    letter-spacing: 2px;
    font-size: 20px;
    font-style: inherit;
}
.newslatter form{
    width: 380px;
    max-width: 100px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    /* flex: content; */
}
.newslatter form input:first-child {
    display: inline-block;
    /* width: 100%; */
    border-radius: 30px;
    padding: 14px 130px 14px 15px;
    border:  2px solid red;
}

.newslatter form input:last-child{
    /* position:relative;
    display:inline-flexbox; */
    outline:none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000 0px 0px 15px red;
    /* top:6px */
    align-items: center;
    justify-content: space-between;


}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: rgba(255, 255, 255, 0.11);
    background-position:fixed;
    background-image: url(https://th.bing.com/th/id/R.20ccedba1c257ba3bcd3db515e900fc3?rik=DdXGXKwR67TiRA&riu=http%3a%2f%2fwww.baltana.com%2ffiles%2fwallpapers-2%2fBusiness-Powerpoint-Background-Wallpaper-HD-06761.jpg&ehk=QS93oTEh4B7qn6q9ZIgpJ5C3lFKAcJzcRyo8tVxJxis%3d&risl=&pid=ImgRaw&r=0);

}
.about img{
    height: auto;
    width: 430px;
}

.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color:black;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: black;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: rgba(3, 31, 121, 0.8);
    letter-spacing: 2px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: #f9004d;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: rgb(255, 254, 254);
    border-color: red;
    cursor: pointer;
}
.service{
    background:rgb(173, 169, 169);
    width: 100%;
    font-size: 20px ;
}
.title{
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

footer{
    background: #8a8686;
    padding: 90px 0;
  }
   
  .footer-container{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
   
  .logo{
    width: 180px;
  }
   
  .social-media{
    margin: 20px 0;
  }
   
  .social-media a{
    color: #001a21;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
  }
   
  .social-media a:hover{
    color: #fc5c65;
  }
   
  .right-col h1{
    font-size: 26px;
  }
   
  .border{
    width: 100px;
    height: 4px;
    background: #fc5c65;
  }
   
  .newsletter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
   
  .txtb{
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    color: #293043;
    background: #ddd;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
  }
   
  .btn{
    padding: 18px 40px;
    font-size: 16px;
    color: #5c2626;
    background: #fc5c65;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity .3s linear;
  }
   
  .btn:hover{
    opacity: .7;
  }
   
  .page-content{
    min-height: 100vh;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  @media screen and (max-width:960px) {
    .footer-container{
      max-width: 600px;
    }
    .right-col{
      width: 100%;
      margin-bottom: 60px;
    }
   
    .left-col{
      width: 100%;
      text-align: center;
    }
  }
   
   
  @media screen and (max-width:700px){
    .btn{
      margin: 0;
      width: 100%;
      margin-top: 20px;
      }
  }


  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }